.selectable-card {
	margin: 3%;
  padding: 4%;
  border-radius: 13%;
}

.selectable-card_enabled {
	cursor: pointer;
}

.selectable-card_enabled:hover {
	transform: scale(1.05);
}

.selectable-card_enabled.selected {
  border: 1px solid #007bff;
	transform: scale(0.95);
}

.selectable-card-text {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: lighter;
  text-align: center;
  padding-top: 10%;
}

.selectable-card-img {
  align-self: center;
  width: 40%;
  height: 40%;
  margin-right: 3%;
  padding-top: 4%;
}
